.mainpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    color: white;
    margin: 15px 0;
}
.hero h2 {
    color: white;
}
.hero p {
    font-family: 'Times New Roman', Times, serif;
}
.purpleblock {
    background: var(--header);
    border-radius: 15px;
    width: 60%;
    box-shadow: 5px 5px 10px black;
    border: 1px var(--main) solid;
    padding: 5px 20px;
    transition: 0.3s all;
}
.purpleblock:hover {
    box-shadow: 0 0 10px var(--main);
}
.imgpurpleblock {
    border-radius: 15px;
}
.infopagessi{
    color: var(--first);
    font-size: 28px;
}
.si {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--header);
    border-radius: 15px;
    width: 60%;
    box-shadow: 5px 5px 10px black;
    border: 1px var(--first) solid;
    margin: 15px 0;
    transition: 0.5s all;
}
.si:hover {
    box-shadow: 0 0 15px var(--first);
    transform: translateY(-10px);
}
.pagessiimg {
    width: 320px;
    height: 220px;
    border-radius: 15px;
    margin: 0 10px ;
}

.pagessitext .name {
    font-size: 22px;
}
.pagessitext .description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.pagessibutton {
    background: var(--text-color3);
    height: 250px;
    width: 100px;
    border-radius: 0 12px 12px 0;
    padding: 0;
    margin: 0;
    transition: 0.2s all;
}
.pagessibutton:hover {
    background: var(--main);
}
.game {
    display: none;
}