main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    color: aliceblue;
    margin: 15px 0;
}
.hero h2 {
    color: var(--aneon);
}
.hero p {
    font-family: 'Times New Roman', Times, serif;
}
.purpleblock {
    background: #37125a;
     background: rgb(29, 0, 50);
    border-radius: 15px;
    width: 60%;
    box-shadow: 5px 5px 10px black;
    border: 2px var(--aneon) solid;
    padding: 5px 20px;
    transition: 0.3s all;
}
.purpleblock:hover {
    box-shadow: 0 0 10px var(--aneon);
}
.imgpurpleblock {
    border: 2px #4f1783 solid;
    border-radius: 15px;
}
.infopagessi{
    color: #FFD700;
    font-size: 28px;
}
.si {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(29, 0, 50);
    border-radius: 15px;
    width: 60%;
    box-shadow: 5px 5px 10px black;
    border: 2px #FFD700 solid;
    margin: 15px 0;
    transition: 0.5s all;
}
.si:hover {
    box-shadow: 0 0 15px rgb(255, 0, 0);
    border: 2px #ff0000 solid;
    box-shadow: 0 0 15px var(--bneon);
    border: 2px var(--bneon) solid;
    transform: translateY(-10px);
}
.pagessiimg {
    width: 320px;
    height: 220px;
    border-radius: 15px;
    margin: 0 10px ;
    border: 2px #4f1783 solid;
}

.pagessitext .name {
    font-size: 22px;
}
.pagessitext .description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.pagessibutton {
    background: var(--text-color3);
    height: 250px;
    width: 100px;
    border-radius: 0 15px 15px 0;
    padding: 0;
    margin: 0;
    transition: 0.2s all;
}
.pagessibutton:hover {
    background: var(--aneon);
}
.game {
    display: none;
}