/* Подключение шрифтов */
@font-face {
    font-family: 'Minecraf'; /* Название, которое мы присваиваем шрифту */
    src: url(../fonts/Minecraftia-Regular.ttf) format('truetype'); /* Путь к файлу */
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'F77'; /* Название, которое мы присваиваем шрифту */
    src: url(../fonts/F77_Minecraft.ttf) format('truetype'); /* Путь к файлу */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* Мои переменные */
:root {
  --backmain: linear-gradient(to left, #070050 5%, rgb(6, 0, 47) 95%);
  --backmine: linear-gradient(to left, #034d00 5%, rgb(0, 42, 1) 95%);
  --backnutr: linear-gradient(to left, #2e004f 5%, rgb(40, 0, 52) 95%);
  --header: #050508;
  --footer: #050508;
  --text-color: #f3f4f6;
  --back2: #b1b1b1;
  --text-color2: #000000;
  --text-color3: #8a8f9d;
  --bneon:#8A2BE2;
  --aneon:#00ffcc;
  --main: rgb(255, 255, 255);
  --adve: rgb(0, 0, 255);
  --adve2: rgb(0, 0, 200);
  --adve3: rgb(0, 0, 50);
  --first: #FFD700;
  --first2: #aa9000;
  --first3: #ffe343;
  --second: rgba(0,0,0,0.5);
  --second2: lime;
  --second3: green;

}
/* разные страницы */
body.main {
  background: var(--backmain) !important;
}
body.mine {
  background: var(--backmine) !important;
}
body.nutr {
  background: var(--backnutr) !important;
}
/* по умолчанию */
a {
  text-decoration: none;
  color: var(--text-color);
}
img {
  width: 100%;
}
h1{
  display: none;
}
body {
  color: var(--text-color);
  transition: all 0.3s;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
/* верхушка */
header {
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: var(--header);
  border-bottom: 2px var(--main) solid;
  border-radius: 0 0 45px 45px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 32px;
  /* Мое цветное лого */
  background: linear-gradient(to right, var(--adve) 50%, var(--main) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
}
/* Иконка */
.logo img {
  margin: 0px 5px;
  width: 50px;
  border-radius: 30px;
}
.logo:hover {
  transform: scale(1.1);
}
/* Базовые стили для ссылок */
nav a{
  gap: 8px;
  font-size: 24px;
  color: var(--text-color3);
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
/* Стили для выбранной вкладки */
nav a.active {
  color: var(--main);
  border-bottom: 2px solid var(--adve); 
  text-shadow: 0 0 10px rgba(0, 0, 255, 0.5); 
  background: rgba(0, 0, 255, 0.05); 
}
nav a:hover {
  color: var(--main);
  text-shadow: 0 0 10px var(--main);
}
.addbut a,.addbut button {
  margin: 0px 2px;
  padding: 1px 3px;  
  background: none;
  border: 1px solid var(--adve2);
  color: var(--text-color);
  font-size: 30px;
}
.addbut a:hover,.addbut button:hover {
  background: var(--adve2);
}
/* подвал */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  align-items: start;
  margin: 0px;
  padding: 30px 0px; 
  background: var(--footer);
  color: var(--text-color);
  border-top:  2px var(--main) solid;
  border-radius: 45px 45px 0 0;
}
.footertotal {
  display: flex;
  flex-direction: column;
  flex-shrink: 0; 
  gap: 10px;
  max-width: 400px;
}

.footertotal a,.footertotal p{
  padding: 0;
  margin: 0;
}
/* первая колонка */
.copyright {
  font-size: 18px;
}
.disclaimer,.disclaimertotal,.version {
  font-size: 14px;
  color: var(--text-color3);
  border-left: 2px solid var(--text-color3); 
  line-height: 1.4;
  padding: 5px 10px !important; 
}
.namecolumn {
  color: var(--adve);
  font-size: 24px;
}
.nameproject {
  color: var(--adve);
}
/* вторая колонка */
.footer_social{
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 40px 40px 40px;
  gap: 15px;
}
.help_a {
  display: grid;
  place-items: center; 
  padding: 0; 
  border: 2px solid var(--adve2);
  font-size: 16px;
}
.help_a:hover {
  background: var(--adve2);
}
/* третья колонка */
.column_que {
  padding: 5px 0px 5px 15px;
  border-left: 2px solid var(--text-color3); 
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.questions {
  font-size: 18px;
  color: var(--text-color3);
}
.rec_launch {
  font-size: 22px;
  color: var(--main);
}
.rec_vpn {
  font-size: 22px;
  color: var(--main);
}
.questions:hover {
  color: var(--text-color);
  text-shadow: 0 0 20px var(--main) ;
}